@import "variables";

.title {
  font-size: 24px;
  margin-bottom: 20px;
  max-width: 300px;
  text-align: center;
}

.description {
  font-size: 18px;  
  margin-bottom: 40px;
  max-width: 300px;
  text-align: center;

  a {
    color: $blackColor;
  }
}

.button {
  margin-bottom: 15px;
  max-width: 300px;
}

.terms {
  margin-bottom: 25px;
  font-size: 14px;
  color: $textGreyColor;

  a {
    color: $textGreyColor;
  }
}

.icon {
  margin-bottom: 30px;
  width: 100px;
  height: 100px;
}

.errors {
  color: #FF2D55;
  font-size: 14px;
  max-width: 300px;
  text-align: center;
  max-width: 300px;
}
