@import "variables";

.tokenId {
  margin-bottom: 40px;
}

.input {
  max-width: 140px;
  margin-right: 20px;
}

.tokensIdContainer {
  display: flex;
}

.tokenIdButton {
  padding: 0px 25px;
  border-color: $dbBlue;
  color: $dbBlue;
}

.tokenIdsAdded {
  font-size: 16px;
  margin-bottom: 20px;
  span {
    color: $dbBlue;
  }
}

.note {
  font-size: 13px;
  font-style: italic;
  color: $textGreyColor;
  margin-top: 10px;
}