.title {
  font-family: 'Inter-Medium';
  font-size: 24px;
  margin: 0 0 30px;
  text-align: center;
}

.image {
  margin-bottom: 20px;
}

.text {
  margin-bottom: 40px;
}

.container {
  max-width: 300px;
}

.button {
  max-width: 100%;
  margin-bottom: 30px;
}