@import "variables";

.icon {
  max-width: 100%;
}

.title {
  font-size: 14px;
  margin-bottom: 20px;

  b {
    font-family: 'Inter-Bold';
  }

  span {
    font-family: 'Inter-Regular';
    color: $blueColor;
  }
}

.gif {
  max-width: 227px;
  margin-bottom: 20px;
}

.titleVariant {
  font-size: 24px;
  text-transform: none;
}


.button {
  margin-bottom: 15px;
  max-width: 300px;
}

.terms {
  margin-bottom: 25px;
  font-size: 14px;
  color: $textGreyColor;

  a {
    color: $textGreyColor;
  }
}

.tokenIcon {
  margin-bottom: 30px;
}

.tokenIconNft {
  width: 140px;
  height: 140px;
}

.tokenIconNftLarge {
  width: 200px!important;
  height: 200px!important;
}

.wallet {
  font-size: 18px;
  margin-bottom: 30px;
}

.wallet span {
  font-family: 'Inter-Medium';
}

.checkLink {
  max-width: 200px;
  cursor: pointer;
}
