.main {
  min-height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden; 
}

.mainNoHeader {
  min-height: calc(100vh - 60px);
}

.backArrow {
  position: absolute;
  left: 25px;
  top: 20px;
  cursor: pointer;
}